.gutter {
    width: auto;
}


@media (max-width: 1280px) {
    .mainMenu ul li a {
        /*line-height: 30px;*/
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        font-size: 14px;
    }
    .mainMenu ul ul li a {
        font-size: 12px;
        line-height: 28px;
    }

    .mainMenu ul li span.subToggler {
        top: 0;
        height: 30px;
        line-height: 30px;
    }
    iframe {
        max-width: 100%;
    }
}

@media (max-width: 1024px) {

    .slider {

    }

    .pageTitle h1 {
        padding-left: 30px;
    }

    .articleBody .row > h1, .articleBody .row > h2, .articleBody .row > h3, .articleBody .row > h4 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .content {
        min-height: auto;
    }

    .mainMenu, .home .mainMenu {
        background: rgba(34, 34, 34, .98);
    }


    .mainMenu {
        width: 260px;
        left: -260px;
    }

    .mainMenu.active {
        transform: translate3d(0px,0,0);
        transition: transform 320ms ease;
    }

    .menuToggler {
        top:30px;
        left: 260px;

        display: block;
        position: fixed;
        z-index: 2;
        cursor: pointer;
        transform: translate3d(-260px,0,0);
        transition: transform 320ms ease;
    }

    .menuToggler.on {
        transform: translate3d(0px,0,0);
        transition: transform 320ms ease;
    }

    .menuToggler:before {
        display: block;
        width: 40px;
        height: 36px;
        background: rgba(34, 34, 34, .98);
        color: #fff;
        text-align: center;
        line-height: 36px;
        vertical-align: middle;
        font-family: FontAwesome;
        font-size: 28px;
        font-weight: normal;
        content: '\f0c9';
    }

    .menuToggler.on:before {

        content: "\f104";

    }

    .mainMenu:before {
        content: ' ';
        display: table;
        clear: both;
        width: 100%;
    }

    .mainMenu {
        position: fixed;
        top: 0;
        left: 0px;
        bottom: 0;
        width: 260px;
        /*overflow-y: scroll;*/
        transform: translate3d(-280px,0,0);
        transition: transform 320ms ease;
    }

    .mainMenu.active {
        transform: translate3d(0,0,0);
    }

    .mainMenu .logo {
        max-width: 100px;
        margin-bottom: 10px;
    }

    .mainMenu .slimScrollDiv .scrollable {
        bottom: 175px;
    }
    p.copyright {
        padding: 15px 10px;
        font-size: 12px;
    }

    .searchBox input.form-control {
        height: 40px;
        line-height: 28px;
        padding-left: 15px;

    }

    .searchBox button {
        height: 25px;
    }

    .searchBox i {
        padding: 3px 10px;
    }

    .bottomBar, .home .bottomBar {
        left: 0;
        width: 100%;
        background: rgba(45, 45, 45, 0.9);
    }

    .bottomBar .tw-feed.mobile, .home .bottomBar .tw-feed.mobile {
        display: table-caption;
        background: rgba(45, 45, 45, 0.9) none repeat scroll 0 0;
        border-bottom: 1px solid #525252;
        height: auto;
        overflow-x: hidden;
    }

    .bottomBar a.link {
        height: auto;
        padding: 8px;
    }

    .tw-feed::before {
        color: #55acee;
        content: "";
        font: 28px/1 FontAwesome;
        left: 15px;
        margin-top: -14px;
        position: absolute;
        top: 50%;
    }

    .tw-feed {
        padding-left: 55px;
        padding-right: 15px;
    }
    .tw-feed .user, .tw-feed .tweet {
        font-size: 11px;
        line-height: 12px;
    }
    .tw-feed ul li .timePosted {
        font-size: 10px;
    }


    .news-flash-container {
        width: 80%;
        z-index: 0;
        left: 10%;
        bottom: 33%;
    }

    .gutter {
        margin-left: 0;
    }

    .sidebar {
        max-width: none;
    }

}

@media (max-width: 992px) {

    .content.no-padding-right {
        padding-right: 20px !important;
    }

    .contactBox .no-padding-right {
        padding-right: 15px !important;
    }

    .content .alignright {
        float: none;
        margin-left: 0px;

    }

    .content .alignleft {
        float: none;
        margin-right: 0px;
    }

    .pageMenu ul li {
        float: none;
    }

    .pageMenu ul ul {
        position: static;
        opacity: 1;
        background-color: transparent;
        width: 100%;
    }
    .post-item img {
        height: 100%;
    }
    .post-item span.post-author img {
        top: 10px;
    }

}

@media (max-width: 800px) {

    .featuredImage {
        height: 180px;
    }

    .content {
        padding: 20px 0;
    }

    .moreText {
        width: 250px;
    }
}

@media (max-width: 490px) {
    .featuredImage {
        height: 140px;
    }

    .news-flash-container p {
        display: none;
    }
}

@media (max-width: 380px) {
    .featuredImage {
        height: 120px;
    }
}
