* {
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
}
h1, h2, h3, h4 {
    font-family: NeoSansStdRegular, arial, sans-serif;
    color: #ff8930;
    transform: rotate(0.001deg);
}

h3, h4 {
    font-weight: 600;
}

.content .alignright {
    float: right;
    margin-left: 20px;
}

.content .alignleft {
    float: left;
    margin-right: 20px;
}

.content .aligncenter, .content .alignnone {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.pageWrap {
    width: 100%;
}

.table-content {
    overflow-x: auto;
}

/* Bg Slider */
.slider {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.slick-slideshow .slide img, .slick-slideshow .slide {
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    background-size: cover !important;
    background-position: center center !important;
}

/* Main Menu */

.mainMenu .logo {
    margin: 0 auto 20px;
    max-width: 140px;
    text-align: center;
}

.mainMenu .logo a img{
    width: 100%;
    padding: 0 10px;
}

.home .mainMenu {
    background: rgba(34, 34, 34, .75);
}


.home .mainMenu ul ul  {
    background: rgba(33, 33, 33, .4);
}

.home .mainMenu ul ul ul  {
    background: rgba(32, 32, 32, .3);
}


.mainMenu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    /*width: 380px;*/
    width: 24%;
    height: 100%;
    z-index: 1;
    background: rgba(34, 34, 34, .92);
    padding-top: 20px;
    overflow-y: hidden;
}


.mainMenu ul li {
   /* backface-visibility: hidden;
    transform-style: preserve-3d;*/
}

.mainMenu nav {
    display: block;
}

.mainMenu ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

.mainMenu ul li {
    display: block;
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    transform: rotate(0.001deg);
}

.mainMenu ul li a {
    color: #fff;
    display: block;
    font-family: NeoSansStdBold,arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    /*line-height: 52px;*/
    line-height: 1.2;
    padding: 16px 50px 16px 30px;
    vertical-align: middle;
    text-transform: uppercase;
}

.mainMenu ul li a:hover, .mainMenu ul ul li a:hover .mainMenu ul li a.active {
    background-color: rgba(0, 0, 0, 0.35);
    color: #d35400;
}


/* Sub Menus */

.mainMenu ul ul {
    background: #212121;
}

.mainMenu ul ul ul {
    background: #181818;
}

.mainMenu ul, .mainMenu ul ul {
    position: static;
    width: auto;
    left: auto;
    top: auto;
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
    transition: none !important;
}

.mainMenu ul ul {
    display: none;
}

.mainMenu ul li ul li {
    border-bottom:none;
}

.mainMenu ul ul li a {
    padding: 0 50px 0 40px;
    font-family: NeoSansStdRegular,arial,sans-serif;
    font-size: 16px;
    font-weight: 200;
    text-transform: capitalize;
    line-height: 40px;
}
/*.mainMenu ul li:hover a {
    background-color: transparent;
    color: #fff;
}*/

.mainMenu ul li:hover ul li a {
    /*background-color: transparent;
    color: #fff;*/
}

.mainMenu ul ul ul, .mainMenu ul li:hover ul ul {
    position: static;
    pointer-events: auto;
    opacity: 1;
    left: auto;
    top: auto;
    transform: translateY(0) translateX(0px);
}

.mainMenu ul ul li a:hover, .mainMenu ul li:hover ul li a:hover {
    background-color: rgba(0, 0, 0, 0.35);
    color: #d35400;
}

/*3rd level*/

.mainMenu ul ul ul li a {
    color: #fcc700;
    padding-left: 50px;
}
.mainMenu ul li:hover ul ul li a {
    /*background-color: transparent;
    color: #fcc700;*/
}

.mainMenu ul li span.subToggler {
    background-color: transparent;
    bottom: 0;
    color: #fff;
    cursor: pointer;
    font: 20px/34px FontAwesome;
    position: absolute;
    right: 10px;
    text-align: center;
    top:8px;
    width: 34px;
    height: 34px;
    z-index: -1;
}

.mainMenu ul ul li span.subToggler {
    top:0px;

}

.mainMenu ul li span.subToggler:hover {
    /*background-color: rgba(0, 0, 0, 0.35);*/
}

.mainMenu ul li span.subToggler:before {
    content: '\f107';
    display: inline-block;
}

.mainMenu li.open > span.subToggler:before {
    content: '\f106';
}


.mainMenu .slimScrollDiv {
    /*top: 0px;
    bottom: 200px;*/
    height: 100% !important;
    padding-bottom: 270px;
}

.mainMenu .slimScrollDiv .scrollable {
    position: absolute;
    top: 0;
    bottom: 260px;
    left: 0;
    right: 0;
    height: auto !important;

}


.mainMenu .current-menu-ancestor > ul, .mainMenu .current-menu-parent > ul {
    display: block;
}

/*.mainMenu .current-menu-ancestor > span.subToggler:before, .mainMenu .current-menu-parent  > span.subToggler:before {
    content: '\f106';
}*/


/*.current-menu-ancestor > span {
    transform: rotate(180deg);
}*/

.mainMenu .current_page_item > a {
    color: #d35400;
    background-color: rgba(0, 0, 0, 0.35);
}

.bottomMenu {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Search Box */

.searchBox {
     position: relative;
}

.searchBox input.form-control {
    font-family: NeoSansStdRegular,arial,sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 60px;
    border-radius:0;
    height: 60px;
    padding-left: 30px;
}

.searchBox i {
    color: #9f9f9f;
    font-size: 21px;
    padding: 10px 12px;
    pointer-events: none;
}

.searchBox button {
    background-color: #fff;
    border: medium none;
    cursor: pointer;
    display: block;
    height: 50px;
    position: absolute;
    right: 9px;
    top: 5px;
}


.socialBox{
    text-align: center;
    width: 152px;
    margin: 20px auto;
}

.socialBox a {
    background: #565656 none repeat scroll 0 0;
    border-radius: 20px;
    color: #9f9f9f;
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 0 4px;
}

.socialBox a.fb:hover {
    background: #3b5998;
    color: #fff;
}

.socialBox a.tw:hover {
    background: #55acee;
    color: #fff;
}

.socialBox a.yt:hover {
    background: #c4302b;
    color: #fff;
}

.socialBox a.in:hover {
    background: #517fa4;
    color: #fff;
}

.socialBox a i {
    pointer-events: none;
    font-size: 20px;
    line-height: 30px;
}

p.copyright {
    text-align: center;
    color: #666666;
    font-family: NeoSansStdRegular,arial,sans-serif;
    font-size: 13px;
    /*margin-bottom: 12px;*/
    margin-bottom: 0;
    padding: 35px 10px;

}

/* Bottom Bar */

.bottomBar {
    display: table;
    width: 100%;
    background: rgba(45, 45, 45, 0.9);

}

.home .bottomBar {
    display: table;
    position: absolute;
    bottom: 0;
    left: 24%;
    width: 76%;
    background: rgba(45, 45, 45, 0.9);
}

.bottomBar a.link {
    width: 89px;
    height: 89px;
    display: table-cell;
    vertical-align: middle;
    padding: 25px;
    border-right: 1px solid #525252;
    cursor: pointer;
    text-align: center;
    color: #fff;
}

.bottomBar a.link i{
    font-size: 30px;
    pointer-events: none;
    display: block;
}

.bottomBar a.link:hover {
    color: #d35400;
    background-color: rgba(0, 0, 0, 0.35);
}

.tw-feed {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    padding: 8px 25px 7px 80px  ;
    position: relative;
    border-right: 1px solid #525252;
    height: 89px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.tw-feed:before {
    content: "\f099";
    position: absolute;
    top: 50%;
    margin-top: -18px;
    left: 30px;
    font: normal normal normal 35px/1 FontAwesome;
    color: #55acee;
}

.tw-feed a:hover {
    color: #d35400;
}

.tw-feed p{
    margin-bottom: 0px;
}

.tw-feed p.tw-user {
    font-weight: 600;
}

.tw-feed p.tw-user span {
    font-weight: 200;
    color: #eee;
}

.tw-feed p.tw-text {
    font-size: 13px;
}

.tw-feed ul {
    list-style: none;
    margin: 0;
}

.tw-feed .user {
    font-size: 13px;
    font-weight: 600;
}

.tw-feed .tweet {
    font-size: 13px;
}

.tw-feed ul li .timePosted {
    font-size: 11px;
}

.tw-feed ul li .user img {
    width: 18px;
}
.tw-feed .tweet > img {
    width: 14px;
}

/* News Flash Home */

.news-flash-container {
    background: rgba(45, 45, 45, 0.9) none repeat scroll 0 0;
    bottom: 160px;
    color: #fff;
    left: 29%;
    position: absolute;
    width: 50%;
    z-index: 100;
    padding: 20px;

}

.news-flash-container p {
    margin-bottom: 0;
}

.news-flash-container .news-nav {
    text-align: right;
}

.news-flash-container .news-nav a {
    padding: 5px 10px;
    background:#3e3e3e;
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
}

.news-flash-container .news-nav a:hover {
    background-color: #111;
}

.news-flash-container h3 a {
    color: #fff;
}

.news-flash-container a.more {
    color: #ff8930;
    font-weight: 600;
    margin-top: 5px;
    display: block;
}

.news-flash-container a.more:hover {
    text-decoration: underline;
}

.news-flash-container a.more:after {
    content: "\f101" ;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: 5px;
}



/* page layout */

.gutter {
    /*width: 1220px;*/
    width: 76%;
    margin-left: 24%;
    position: relative;
    top: 0;
    bottom: 0;
}
.featuredImage {
    height: 320px;
    overflow-y: hidden;
    background-size: cover;
    background-position: center center;
}


.featuredImage img {
    width: 100%;
    vertical-align: middle;
}

.content {
    padding: 20px;
    min-height: 857px;
}

.pageTitle h1 {
    padding: 10px 30px 10px 0;
    border-bottom: 1px solid #dedede;
}

.btn-default {
    background: #ff8930;
    border:none;
    color:#fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.btn-default:hover {

}

h4.questionNtoggler:first-of-type {
    margin-top: 30px;
}

h4.questionNtoggler:last-of-type {
    margin-bottom: 30px;
}

h4.questionNtoggler {
    font-family: NeoSansStdRegular;
    cursor: pointer;
    display: block;
    padding: 12px 55px 12px 20px;
    margin: 0 0 1px;
    color: #fff;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 100;
    position: relative;
    background-color: #454545;
    transition: all 400ms ease;
}

h4.questionNtoggler:hover, h4.questionNtoggler.on {
    background-color: #d35400;
    padding: 12px 55px 12px 25px;
    transition: all 220ms ease;
}

h4.questionNtoggler:before {
    content: '\f107';
    font: normal 22px/1 FontAwesome;
    color: #fff;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    text-align: center;
    padding: 10px 0 0;
    background-color: #454545;
    transition: all 400ms ease;
}

h4.questionNtoggler.on:before {
    content: '\f106';
    background: #d35400;
}

h4.questionNtoggler:hover:before {
    background: #d35400;
    transition: all 220ms ease;
}

.answerBox {
    display: none;
    overflow: hidden;
    padding:  20px;
    transition: none !important;
    background:#eaeaea;
}

.answerBox *:last-child {
    margin: 0;
}

.articleBody img {
    max-width: 100%;
    height: auto;
    /*margin: 20px 0;*/

}

.articleBody .row {
    /*margin-right: 0;
    margin-left: 0;*/
    margin-bottom: 20px;
}

.articleBody .row .col.col-sm-3 > p {
    margin: 0;
}

.articleBody ul {
    margin-left: 20px;
}

.articleBody a:hover {
    text-decoration: underline;
}

.articleBody a img {
    opacity: 0.9;
}

.articleBody a:hover img {
    opacity: 1;
}


article  {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

/*.articleBody .col-md-3 img, .articleBody .col-md-4 img {
    width: 100%;
}*/


.articleBody h3 {
    margin-bottom: 8px;
}

.moreText {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    display: none;
    padding: 20px;
    position: absolute;
    z-index: 2;
    box-shadow: 2px 2px 4px 0 rgba(68, 68, 68, 0.3);
    width: 420px;

}

.page-id-6051 img {
    border-radius: 6px;
    margin-bottom: 5px;
}

.page-id-6051 p {
    /*margin-bottom: 5px !important;*/
}


h4.showMoreToggler {
    font-size: 14px;
    cursor: pointer;
    padding: 3px 10px;
    background-color: #eee;
    display: inline-block;
    margin-top: 10px;
}

h4.showMoreToggler:hover, h4.showMoreToggler.on {
    background-color: #ff8930 ;
    color: #fff;
}

h4.showMoreToggler.on:after {
    content: "\f106";
}

h4.showMoreToggler:after {
    font-family: FontAwesome;
    width: 12px;
    height: 12px;
    line-height: 18px;
    content: "\f107";
    margin-left: 5px;
}

.nav-links * {
    padding: 5px;
    background-color: #eee;
    font-weight: 600;
}

.nav-links .current {
    background: #ff8930;
    color: #fff;
}

/* Sidebar */

.sidebar {
    background:#eaeaea ;
    padding: 20px;
    max-width: 300px;
}

.quick-links {
    background: #e0e0e0 none repeat scroll 0 0;
    border-radius: 5px;

}

.quick-links h4 {
    padding: 20px 30px;
    color: #d35400;
    text-transform: uppercase;
}

.quick-links ul {
    list-style: none;
    margin: 0;
    padding: 0 0 10px 0;
}

.quick-links ul li {
    color: red;
    font-family: "NeoSansStdRegular";
    margin-bottom: 3px;

}

.quick-links ul li a {
    color: #000;
    display: block;
    line-height: 16px;
    width: 100%;
    padding: 10px 30px;
    position: relative;
}

.quick-links ul li a:hover {
    background-color: #d35400;
    color:#fff;
}

.quick-links ul li a:before {
    position: absolute;
    left: 15px;
    content: "\f0da";
    color: #d35400;
    font-family: FontAwesome;
}
.quick-links ul li a:Hover:before{
    color: #fff;
}

.sidebar .textWidget {
    text-align: center;
}
.sidebar .textWidget p {
    margin-top: 20px;
}

/* Contact */


.contactMeta {
    margin: 0 0 10px;
}

.contactMeta {
    clear: left;
    margin: 0 0 30px;
}

.contactMeta p {
    margin: 0 0 20px;
    line-height: 1.7;
    font-size: 16px;
    padding: 0 0 0 36px;
}

.contactMeta p:before {
    font-family: FontAwesome;
    font-weight: normal;
    color: #aeaeae;
    line-height: 1;
    display: block;
    float: left;
    margin: 2px 0 0 -36px;
}

.contactMeta p.cmLocation:before {
    content: '\f041';
    font-size: 24px;
}

.contactMeta p.cmPhone:before {
    content: '\f10b';
    font-size: 31px;
    margin: -2px 0 0 -36px;
}

.contactMeta p.cmMail:before {
    content: '\f0e0';
    font-size: 18px;
    margin: 4px 0 0 -36px;
}

.contactMeta p.cmWorkingHours:before {
    content: '\f017';
    font-size: 22px;
    margin: 3px 0 0 -36px;
}

.contactMeta p a {
    color: #333;
    text-decoration: underline;
}

.contactMeta p a:hover {
    text-decoration: none;
}

.contactMeta p strong {
    display: inline-block;
    min-width: 128px;
}

.contactMap {
    margin-top: -20px;
    /*margin-bottom: -20px;*/
}

/* Inner menu */

.pageMenu {
    position: relative;
    /*z-index: 5;*/
    display: inline-block;
    background-color: #eee;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 10px 0 10px;
}


.pageMenu ul li {
   /* backface-visibility: hidden;
    transform-style: preserve-3d;*/
}

.pageMenu nav {
    display: block;
}

.pageMenu ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

.pageMenu ul li {
    float: left;
    display: block;
    position: relative;
    transform: rotate(0.001deg);
}

.pageMenu ul li a {
    color: #333;
    display: block;
    font-family: NeoSansStdBold,arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
    padding: 0 12px;
    vertical-align: middle;
    margin: 0 10px 10px 0;
}

.pageMenu ul li:hover a, .pageMenu ul li a.active, .pageMenu ul li:hover a, .pageMenu .current_page_item a {
    color:#ff8930;
    background-color: #f7f7f7;
    text-decoration: none;
}




/* Sub Menus */

.pageMenu ul ul {
    position: absolute;
    width: 200px;
    left: 0;
    top: auto;
    margin: -1px 0 0;
    background-color: #f7f7f7;
    /*background-color: #eaeaea;*/
    pointer-events: none;
    opacity: 0;
    /*transform: translateY(80px);
    transition: all 100ms cubic-bezier(0.895,0.03,0.685,0.22);*/
}

.pageMenu ul li:hover ul {
    pointer-events: auto;
    opacity: 1;
    /*transform: translateY(0);
    transition: all 100ms cubic-bezier(0.895,0.03,0.685,0.22);*/
}

.pageMenu ul ul li {
    font-size: 14px;
    font-weight: 500;
    float: none;
    text-transform: none;
}

.pageMenu ul ul li a, .pageMenu ul li:hover ul li a {
    color: #333;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 1.15;
}

.pageMenu ul ul li a:hover, .pageMenu ul li:hover ul li a:hover {
    background-color: rgba(0,0,0,0.05);
    color: #ff8930;
}

#bookMe4Widget object {
    width: 100%;
    height: 500px;
}

#bookMe4Widget.long object {
    height: 1450px !important;
}

object {
    width: 100%;
    height: 500px;
}


/* Tables */

table{
     border-collapse: collapse;
     border-spacing: 0;
     width:100%;
     height:100%;
     margin:0px;padding:0px;
}

tr:last-child td:last-child {
      -moz-border-radius-bottomright:0px;
      -webkit-border-bottom-right-radius:0px;
      border-bottom-right-radius:0px;
}

table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}

table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}

tr:last-child td:first-child{
     -moz-border-radius-bottomleft:0px;
     -webkit-border-bottom-left-radius:0px;
     border-bottom-left-radius:0px;
}

tr:hover td{

}

tr:nth-child(odd){ background-color:#eee; }

tr:nth-child(even) { background-color:#ffffff; }

td{
    vertical-align:middle;
    border:1px solid #b2b2b2;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;

}
tr:last-child td{
    border-width:0px 1px 0px 0px;
}
tr td:last-child{
    border-width:0px 0px 1px 0px;
}
tr:last-child td:last-child{
     border-width:0px 0px 0px 0px;
}

tr:first-child td{
    background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
    background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");
    background: -o-linear-gradient(top,#cccccc,b2b2b2);
    background-color:#cccccc;
    border:0px solid #b2b2b2;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-family:Arial;
    font-weight:bold;
    color:#000000;
}

tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
    background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");
    background: -o-linear-gradient(top,#cccccc,b2b2b2);
    background-color:#cccccc;
}

tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}

tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}

/* Blog */

.post-item a,
.post-author,
.nav-links a{
    color: #ff8930;
}
.post-divider{
    background-color: #dedede;
    height: 1px;
    width: 100%;
    margin: 0px 0px 10px 0px;
}
.post-intro{
    margin: 10px 0;
}
.post-item span{
    font-size: 12px;
}
.post-item{
    margin-top: 20px;
}
.post-item h2{
    margin: 0 0 10px;
}
.post-more{
    font-size: 12px;
}

